body {
    padding: 0px;
    margin: 0;
}

.container {
    max-width: 1000px, center;  
    margin: auto;
}

.container header {

    background-image: url('ảnh\ bacground\ trang\ chủ.jpg');
    background-size: 100% 100%;
    height: 0;
    padding-bottom: 25%;
}

.container nav {
    line-height: 40px;
    background-color: rgb(72, 52, 119);
    color: white;
    text-align: center;
    font-variant: small-caps;
}

.container article {
    min-height: 400px;
    width: 75%;
    background-color: white;
    float: left;
}

.container>aside {
    min-height: 400px;
    width: 25%;
    background-color: lightgray;
    float: right;
}

.container footer {
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}

.container nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container nav a:hover {
    color: yellow;
    text-decoration: underline;
}

iframe[name=page] {
    width: 100%;
    min-height: 400px;
}
h1{
    color: red;
}